Package: drauger-ppa-enabler
Version: 0.0.4
Maintainer: Thomas Castleman <contact@draugeros.org>
Section: libs
Architecture: all
Priority: important
Depends: drauger-info, python-apt-common
Description: Bug fix package to fix PPA issues on Drauger OS
 Bug fix package to fix PPA issues on Drauger OS when drauger-info is installed.

